<div class="section">
  <div class="container">
    <h2 class="title">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control">
          <% if resource.errors[:email].any? %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-danger" %>
            <% resource.errors[:email].each do |error| %>
              <p class="help is-danger">
                Email <%= error %>
              </p>
            <% end %>
          <% else %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          <% end %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "button is-link" %>
      </div>
    <% end %>

    <div class="buttons mt-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
