<div class="section">
  <div class="container">
    <h2 class="title">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control">
          <% if resource.errors[:email].any? %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-danger" %>
            <% resource.errors[:email].each do |error| %>
              <p class="help is-danger">
                Email <%= error %>
              </p>
            <% end %>
          <% else %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          <% end %>
        </div>
      </div>

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <%= f.submit "Send me password reset instructions", class:"button is-link" %>
          </div>
        </div>
    <% end %>
    <div class="level-right">
      <div class="level-item">
        <div class="buttons">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
