<%= form_with(model: post) do |form| %>
    <div class="field">
    <%= form.label :title, class: "label" %>
    <div class="control">
      <% if post.errors[:title].any? %>
        <%= form.text_field :title, autofocus: true, autocomplete: "title", class: "input is-danger" %>
        <% post.errors[:title].each do |error| %>
          <p class="help is-danger">
            Title <%= error %>
          </p>
        <% end %>
      <% else %>
        <%= form.text_field :title, autofocus: true, autocomplete: "title", class: "input" %>
      <% end %>
    </div>
  </div>


  <div class="field">
    <%= form.label :content, class: "label" %>
    <div class="control">
      <% if post.errors[:content].any? %>
        <%= form.text_area :content, autofocus: true, autocomplete: "title", class: "input is-danger" %>
        <% post.errors[:content].each do |error| %>
          <p class="help is-danger">
            Content <%= error %>
          </p>
        <% end %>
      <% else %>
        <%= form.text_area :content, autofocus: true, autocomplete: "title", class: "input" %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.number_field :creator_id, id: :post_creator_id, class: "form-control", value: current_user.id, type: :hidden %> <!-- hidden field, all these attributes are necessary for association -->
  </div>

  <div class="actions">
    <%= form.submit class: "button is-link" %>
  </div>
<% end %>
